<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Paste URL</h1>

    <a ng-click="closeModal()" class="button button-icon icon ion-ios-close-empty"></a>


  </ion-header-bar>
  <ion-content>
    
    <div class="list">
      <label class="item item-input">
        <input ng-model="url" type="text" placeholder="http://something.com">
      </label>
    </div>

    <button ng-click="submitUrl(url)" class="button button-block button-royal">
      Submit
    </button>

  </ion-content>
</ion-modal-view>