<ion-content>
  <ion-list>

      <ion-item
        ng-repeat="article in articleList | orderBy:'-bumpCount'"
        on-double-tap="bumpIt(article)"
        class="item item-thumbnail-left item-text-wrap" href="#">
        
        <img ng-src="{{article.image}}">
        <h2>{{article.title}}</h2>
        <p ng-bind-html="article.excerpt"></p>

      </ion-item>

  </ion-list>
</ion-content>

<div ng-click="openModal()" class="animated rubberBand fab">
  <i class="ion-ios-plus-empty"></i>
</div>
